{% extends 'ManagerAdminBundle::template1.html.twig' %}
{% block content -%}
<h1>Homepage</h1>

{# Hello, {{ app.user.username }}! &nbsp; <a href="{{ path('fos_user_security_logout') }}">Logout</a><br/>#}
{% endblock %}