* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 25px 0px 12px;
	background-color: #98a664;
	color: #fff;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

a {
	color: #fff;
	background-color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #526052;
	background-color: inherit;
}


img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p {
	margin: 10px 0px 12px;
	text-align: justify;
	line-height: 15px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
	visibility: hidden;
}

#container {
	margin: 0px auto;
	width: 767px;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	text-align: left;
}

#page_static {
	width: 767px;
	height: 235px;
	overflow: hidden;
}

.thumbnail {
	padding: 10px 0px;
	text-align: center;
}





/* Meniu navigare */

#navmenu {
	margin: 54px 528px 0px 66px;
	padding-bottom: 2px;
	width: 173px;
	clear: both;
	text-align: center;
	z-index: 1;
	position: absolute;
}

#navmenu a {
	text-decoration: none;
}

#navmenu li {
	padding: 0px 11px;
	float: left;
	background: url('images/background_meniu.gif') repeat-y 50% 0%;
	line-height: 23px;
}

#navmenu li#menu_first {
	padding-top: 5px;
	background-image: url('images/meniu_ms.gif');
	background-repeat: no-repeat;
}

#navmenu li#menu_last {
	padding-bottom: 12px;
	background-image: url('images/meniu_mj.gif');
	background-repeat: no-repeat;
}

#navmenu li a {
	display: block;
	background-color: #acba78;
	color: inherit;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}

#navmenu li a:hover {
	background-color: #ddebb1;
	color: #526052;
}

#navmenu li#menu_first a {
	padding-top: 2px;
	background-image: url('images/buton_ms.gif');
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

#navmenu li#menu_last a {
	background-image: url('images/buton_mj.gif');
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

#navmenu li a b {
	margin: 0px auto;
	padding-bottom: 2px;
	display: block;
	width: 151px;
	border-bottom: #fff 1px solid;
}


/* Continut */

#main_content {
	padding-left: 22px;
	background: url('images/background_continut.gif') repeat-y 22px 0%;
	float: left;
	clear: both;
	text-align: center;
}

#main_content2 {
	width: 435px;
	background: url('images/continut_md.gif') no-repeat 100% 0%;
}

#main_content_header {
	width: 435px;
	background: url('images/continut_ms.gif') no-repeat 50% 0%;
}

#main_content_header h2 {
	padding: 20px 10px 12px;
	font-size: 12px;
	text-transform: uppercase;
}

#main_content_body {
	margin: 0px auto;
	padding: 2px 0px;
	width: 411px;
	min-height: 220px;
	background-color: #98a664;
	color: inherit;
}

#main_content_body #content_box {
	margin: 0px auto;
	padding-bottom: 15px;
	width: 380px;
	text-align: justify;
}

#main_content_footer {
	width: 435px;
	height: 21px;
	background: url('images/continut_mj.gif') no-repeat 50% 100%;
	overflow: hidden;
}


/* Antetul paginii */

#page_footer {
	padding: 18px 11px 0px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1px;
}
